{% extends "src/base.html" %}
{% block content %}
	<div>
		<h1> Upload Student Behaviours Assessment </h1>
		<h4> Please Select Session, Term, Class and Subject you wish to upload for </h4>
	</div>
	<div class="main">
		<form name="form1" method="POST">
			{% csrf_token %}
		 	 <div class="row" style="padding-right: 10px;">
			    <div class="col">
			        <select class="form-control" name="session">
			        	<option>Session</option>
				        <option>2019/2020</option>
				        <option>2020/2021</option>
				        <option>2021/2022</option>
				    </select>
			    </div>
			    <div class="col">
			        <select class="form-control" name="term">
			        	<option>Term</option>
				        <option>First Term</option>
				        <option>Second Term</option>
				        <option>Third Term</option>
				    </select>
			    </div>
			    <div class="col">
			        <select class="form-control" name="class">
			        	<option>Class</option>
				        {% for i in classes %}
				        	<option>{{ i.class_name }}</option>
					    {% endfor %}
				    </select>
			    </div>
			    <button name="form1" type="submit" class="btn btn-primary">GET</button>
			</div>	
		</form>
	</div>

{% if request.method == 'POST' and "form1" in request.POST %}
	<div>
		<h4> Please Insert the students Results approprietly </h4>
	</div>
	<div class="row" style="padding-right: 10px;">
		<div class="col">
			<h6> Student ID </h6>
		</div>
		<div class="col">
			<h6> Name </h6>
		</div>
		<div class="col">
			<h6> Conduct </h6>
		</div>
		<div class="col">
			<h6> Punctuality </h6>
		</div>
		<div class="col">
			<h6> Dedication </h6>
		</div>
		<div class="col">
			<h6> Participation in Class </h6>
		</div>
		<div class="col">
			<h6> Hospitality </h6>
		</div>
		<div class="col">
			<h6> Neatness </h6>
		</div>
		<div class="col">
			<h6> Creativity</h6>
		</div>
		<div class="col">
			<h6> Physical Health </h6>
		</div>
	</div>

	<form name="form2" method="POST">
		{% csrf_token %}
		{% for i in students %}
	 	 <div class="row" style="padding-right: 10px; padding-left: 10px;">
		    <div class="col">
		        <input type="number" class="form-control" value="{{i.id}}" name="id" style="text-align: center;">
		    </div>
		    <div class="col">
				<input type="text" class="form-control" value="{{i.student_name}}" name="name">
		    </div>
		    <div class="col">
				<input type="number" class="form-control" value=0 name="conduct" style="text-align: center;">
		    </div>
		    <div class="col">
				<input type="number" class="form-control" value=0 name="punctuality" style="text-align: center;">
		    </div>
		    <div class="col">
				<input type="number" class="form-control" value=0 name="dedication" style="text-align: center;">
		    </div>
		    <div class="col">
				<input type="number" class="form-control" value=0 name="participation" style="text-align: center;">
		    </div>
		    <div class="col">
				<input type="number" class="form-control" value=0 name="hospitality" style="text-align: center;">
		    </div>
		    <div class="col">
				<input type="number" class="form-control" value=0 name="neatness" style="text-align: center;">
		    </div>
		    <div class="col">
				<input type="number" class="form-control" value=0 name="creativity" style="text-align: center;">
		    </div>
		    <div class="col">
				<input type="number" class="form-control" value=0 name="physical" style="text-align: center;">
		    </div>
		</div>
		{% endfor %}
			<div style="padding-top: 10px; padding-left: 10px;">
				<button name="form2" type="submit" class="btn btn-primary">UPLOAD</button>			
			</div>
	</form>
{% endif %}

{% endblock content %}

